.navbar{
    display: flex;
    background-color: white;
    border-bottom: 1px solid grey;
    flex-wrap: wrap;
}
.navbar-logo{
    align-self: flex-start;
    width: 20%;    
}

.navbar-links{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 0px;
    text-align: center;
}

.navbar-links-item{
    width: 20%;
    display: inline-block;
}

.navbar-links-item > * {
    text-decoration: none;
    color: black;
    align-self: flex-end;
}

@media only screen and (max-width: 768px) {
    [class*="navbar-logo"]{
        width: 100%;    
    }
    [class*="navbar-links"]{
        width: 100%;    
    }
}
