.navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-items: center;
}

h2 {
    text-align: center;
    font-weight: 900;
}

.navbar-logo{
    width: 10%;    
    margin-right: 2%;
}

.navbar-links{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    margin: 0px;
    justify-content: center ;
    padding-inline-start: 0px;
}

.navbar-links-item {
    padding: 0% 4%;
    font-weight: 800;
    text-align: center;
}
.navbar-links-item :hover {
    color: rgb(16, 58, 16)
}

.navbar-links-item > * {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    [class*="navbar-logo"]{
        width: 20%
    }
}
